[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "==3.141.0"
pandas = "==0.24.2"
beautifulsoup4 = "==4.9.1"
twilio = "==6.44.2"
webdriver-manager = "==3.2.1"
gunicorn = "*"
bs4 = "*"
requests = "*"
Flask-WTF = "==0.14.3"
WTForms = "==2.2.1"
Flask = "==1.0.2"
Flask-Script = "==2.0.6"

[requires]
python_version = "3.9"
