{% extends 'base.html' %}

{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style="text-align: center;">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="" method="post" style="text-align: center">

    {{ form.csrf_token() }}

    {% for field in form if field.name != "csrf_token" %}
    <p>{{ field.label() }}</p>
    <p>{{ field }}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}

</form>
    <div class="container">
      <div class="card" style="width: 40rem; margin: 0 auto;" >
        <div class="card-body">
        {% for keyword in keywords %} 
          <div class="row justify-content-end align-items-end">
            <div class="col-md-6">
              {{ keyword.item_name }}<br><br>
            </div>
            <div class="col-md-6">
              {{ keyword.minimum_price }} - {{ keyword.maximum_price }}
              <a href="" class="btn btn-danger btn-sm">DELETE</a><br><br>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>

{% endblock content %}
